.programs-page-wrapper {
    /* display: grid;
    margin-left: 200px; */
    width:60%;
    height: auto;
    margin: auto;
    margin-top: 10%;
    /* background-color: red; */
  
}

.programs-wrapper{
     background-color: #F2F3F7;

} 

.search-program-bar{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 6px;
    margin-top: 4rem;
}

.search-program-input {
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    width:100%;
    border-radius: 15px;
}

.program-block{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: flex;
    justify-content: space-between;
}
